// font-family: 'Raleway', sans-serif;
// font-family: 'Arima Madurai', cursive;
// font-family: 'Merriweather Sans', sans-serif;
// font-family: 'Playball', cursive;
// font-family: 'Sacramento', cursive;
// font-family: 'Montserrat Alternates', sans-serif;

body {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

#navbar.collapse.navbar-collapse.pull-right {
  color: white;
}

.nav>li>a {
  color: white;
}
.nav>li>a:focus, .nav>li>a:hover {
        font-weight: bold;
        text-decoration: none;
        color: orange;
  }
//welcome

// .welcome_nav {
//   margin-bottom: 9px;
// }
nav.navbar.navbar-fixed-top.welcome_nav {

  background-color:#9a2418;
   border-bottom: solid 5px orange;
}

.welcome_ul {
  padding-top: 9px;
}

.welcome_logo {
  position: absolute;
  margin-top: 20px;
}

.search {
  position: relative;
  form {
    position: absolute;
    top: 300px;
    width: 660px;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.box_size {
  width: 160px;
  height: 80px;
  border: 1px;
  radius: 0;
  background-color: rgba(255,255,255,0.8);
  color:#212121;
}


.btn.sharp {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background-color: rgba(154, 36, 24, 0.9);    //rgba(255, 165, 0, 1)
  border:none;
  color:white;
}
.serach_font {
  font-size: 2em;
}
